*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17) !important;
    color: #fff !important;
    width: 100%;
    overflow-x: hidden;
}

html{
    width: 100%;
}

.blob{
    background: radial-gradient(49.19% 88.28% at 72.99% 113.54%, rgba(93, 227, 236, 0.73) 0%, rgba(93, 227, 236, 0.1679) 59.78%, rgba(93, 227, 236, 0) 100%), linear-gradient(54.57deg, #862AB1 8.59%, rgba(185, 91, 230, 0) 80.49%), radial-gradient(118.75% 118.75% at 96.65% 74.22%, #308EE6 0%, rgba(48, 158, 230, 0) 73.91%), radial-gradient(114.51% 155.86% at 9.82% 10.94%, rgba(255, 85, 85, 0.7) 0%, rgba(255, 85, 85, 0.147) 61.98%, rgba(255, 85, 85, 0) 100%, #F2F5FA); 
    background-blend-mode: hard-light,darken,normal,normal,normal,normal; filter: blur(100px);
    z-index: -1;
    width: 100%;
    height: 30%;
    margin: 0 auto;
    position: fixed !important;
    transition: 0.3s;
}

.blob2{
    background: radial-gradient(49.19% 88.28% at 72.99% 113.54%, rgba(93, 227, 236, 0.73) 0%, rgba(93, 227, 236, 0.1679) 59.78%, rgba(93, 227, 236, 0) 100%), linear-gradient(54.57deg, #1bd5ff 8.59%, rgba(185, 91, 230, 0) 80.49%), radial-gradient(118.75% 118.75% at 96.65% 74.22%, #72ff47 0%, rgba(48, 158, 230, 0) 73.91%), radial-gradient(114.51% 155.86% at 9.82% 10.94%, rgba(255, 85, 85, 0.7) 0%, rgba(255, 85, 85, 0.147) 61.98%, rgba(255, 85, 85, 0) 100%, #F2F5FA); 
    background-blend-mode: hard-light,darken,normal,normal,normal,normal; filter: blur(100px);
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 30%;
    margin: 0 auto;
    position: fixed !important;
    transition: 0.3s;
}


.header {
    color: #000;
}

.contact-info {
    margin: 0 15px;
    font-size: 0.87rem;
}

/* MARK: Hero */

.main-content{
    padding: 0 25px;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image-source: 
    linear-gradient(to right, 
    #00000000, #00000000, 
    rgba(64, 250, 176, 0.587), #00000000, #00000000);
    border-image-slice: 1;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.hero .title{
    font-weight: 300;
}

#slogan {
   justify-content: center;
/*    font-size: 2.25rem; */
   font-size: clamp(2rem, 2.5vw, 3rem);
   text-align: center;
}

.main-logo {
    width: 150px;
}

.description {
    margin: 0.5rem auto 0 auto;
    text-align: center;
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    color: #c3c3c3;
}

.slide{
    font-size: 1.5rem;
}

/* MARK: Fuentes */

:root{
    --gradient-teal-green: linear-gradient(90deg, #21d8de, #00ca2f);
    --gradient-blue-pink: linear-gradient(90deg, #03a9f4, #f441a5);
    --gradient-blue-green: linear-gradient(90deg, #03a9f4, #00ca2f);
}

@font-face{
    font-family: "Playfair Display";
    src: url("../fonts/PlayfairDisplay.ttf");
}

@font-face {
    font-family: "Sanchez";
    src: url(../fonts/Sanchez-Regular.ttf);
}

@font-face {
    font-family: "Blippo";
    src: url(../fonts/Blippo.ttf);
}

.blippo{
    font-family: "Blippo";
    font-weight: 400;
    font-style: normal;
}

.teal-green {
    background: linear-gradient(90deg, #21d8de, #00ca2f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white{
    background: linear-gradient(90deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
}

.gray{
    background: linear-gradient(90deg, #c3c3c3, #c3c3c3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title{
    font-size: 7rem;
    margin: 0px 25px;
}

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }

.playfair-display {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.sanchez {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

/* MARK: Cards*/

.card {
    border-radius: 24px !important;
    background: rgb(36, 36, 36, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    box-shadow:  1px 1px 7px #3b3b3b;
    transition: 0.3s;
}

.card:hover {
    animation: none;
    box-shadow: 5px 5px 10px #ff62d580,
                -5px -5px 10px #2329ec81;
    transition: 0.3s;
}

/* MARK: Second hero*/

#second-hero{
    display: flex;
    justify-content: center;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-image-source: 
    linear-gradient(to right, 
    #00000000, #00000000, 
    rgba(255, 147, 232, 0.587), #00000000, #00000000);
    border-image-slice: 1;
    padding-bottom: 5rem;
}

.two-img-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    margin-left: 5rem;
}

.two-img-container img {
    border-radius: 12px;
}

.img-bottom {
    grid-column: 1 / span 3; /* Flip position to the left */
    grid-row: 1;
}

.img-top {
    grid-column: 2 / -1; /* Flip position to the right */
    grid-row: 1;
    margin-top: 35%;
    padding-left: 20%;
    z-index: 1;
}

.sh-text-container{
    display: flex;
    width: 40rem;
    justify-content: center;
    flex-direction: column;
    margin-right: 2rem;
}

.sh-text-container h1{
/*     font-size: 3.75rem; */
    font-size: clamp(2.5rem, 10vw, 3.75rem);
    letter-spacing: 3px;
    margin-bottom: 0.7rem;
    line-height: 1.1;
}

.sh-text-container span{
    padding-left: 2px;
    font-size: 1.25rem;
    font-size: clamp(1.3rem, 1.6vw, 1.75rem);
}

/* MARK: Process */

#process-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

#process-container div{
    padding: 32px 32px;
    width: 500px;
    margin: 0 16px;
}

#process-container img{
    width: 110px;
    border-radius: 12px;
    margin-bottom: 18px;
}

.process-title{
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.8rem;
}

.process-description{
    font-size: 1rem;
}

#entrega-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#entrega{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 32px;
    width: 560px;
    padding: 32px;
}

#entrega img{
    width: 110px;
    border-radius: 12px;
    margin-bottom: 1.3rem;
}

#entrega h3{
    margin-bottom: 0.5rem;
    font-weight: 700;
}

/* MARK: Redes */

#redes-section {
    display: flex;
    justify-content: center !important;
    width: 100%;
}

.redes-container {
    padding: 2rem;
    width: f;
}

.redes-container h2{
    margin-bottom: 6.4px;
    font-size: 1.87;
}

.redes-container p{
    margin-bottom: 15px;
    font-size: 1.25;
}

.redes{
    display: flex;
    justify-content: space-around;
}

.redes img{
    width: 150px;
    transition: 1s;
    cursor: pointer;
}

.redes img:hover{
    border-radius: 50px;
    -webkit-filter: drop-shadow(2px 2px 2px #ffffff);
    filter: drop-shadow(1px 1px 2px #fbfbfb);
    transition: 0.3s;
}

/* MARK: Animation */

/* Slide container */

.border-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border{
    content: "";
    height: 3px;
    width: 150px;
    background: linear-gradient(to right, #00000000, rgba(64, 250, 176, 0.587), #00000000);
    display: flex;
    position: relative;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.border-m{
    content: "";
    height: 3px;
    width: 700px;
    background: linear-gradient(to right, #00000000, rgba(64, 250, 176, 0.587), #00000000);
    display: flex;
    position: relative;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.slide {
    position: relative;
    height: 2rem;
    overflow: hidden;
    font-size: 1.62ren;
    margin-top: 6px;
}

.slide div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.5s, transform 0.5s;
}

.slide div.active {
    opacity: 1;
    transform: translateY(0);
}

.slide div.exit {
    opacity: 0;
    transform: translateY(100%);
}

.reveal {
    animation: reveal linear both;
    animation-timeline: view(block);
    animation-range: cover 20% cover 35%;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* MARK: Media queries */

@media (max-width: 1000px) {
    #process-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 32px;
        margin-top: 48px;
        margin-bottom: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
        gap: 30px;
    }

    #process-container div{
        margin: 0 16px;
        width: 500px;
    }

    #entrega{
        width: 500px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 32px;
    }

    #redes-section{
        margin-top: 0;
        padding-top: 0;
    }

    .redes-container{
        width: 25rem;
    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 905px) {
    .sh-text-container{
        text-align: center;
        margin-left: 2rem;
    }

    .two-img-container{
        display: none;
    }
}

@media (max-width: 815px) {
    .hero{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }

    .main-logo{
        width: 150px;
        margin-top: 3rem;
    }

    .hero .title{
        display: none;
    }

    .blob{
        transform: rotate(90deg);
        margin: 1.5rem auto;
        opacity: 0.6;
        transition: 0.3s;
        height: 100%;
    }

    .blob2{
        transform: rotate(90deg);
        margin: 1.5rem auto;
        opacity: 0.6;
        transition: 0.3s;
        height: 100%;
    }

    .redes-container{
        padding: 20px;
        margin: auto 1rem;
    }

}
  
@media (max-width: 655px) {
    .nav-menu{
        margin-top: 1.5rem;
        display: none;
        flex-direction: column;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .logo{
        display: none;
    }

    .nav-menu li:last-child {
        order: -1;
    }

    .hamburger-img {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
    }

    #process-container div{
        margin: 0;
        width: 100%;
    }

    #process-container{
        margin: 0;
        width: 100%;
    }
}