*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(28, 0, 18) 30%, rgb(95, 0, 87) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.redes-container{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 430px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    box-shadow: nonet;
    border-radius: 16px;
    margin-left: 30px;
    margin-right: 20px;
}

.redes-container img{
    width: 139px;
    height: 139px;
    margin: 0 auto;
    transition: 1s;
}

.redes img:hover{
    border-radius: 50px;
    -webkit-filter: drop-shadow(2px 2px 2px #ffffff);
    filter: drop-shadow(1px 1px 2px #fbfbfb);
    transition: 0.3s;
}

.redes{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/* Contact Form */

.contact-form {
    text-align: center;
    padding: 50px 20px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    flex: 1;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    min-height: 430px; /* Changed from height to min-height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container h1 {
    margin-bottom: 15px;
    font-size: clamp(1.5em, 2.5vw, 2em);
}

@font-face {
    font-family: "Sanchez";
    src: url(../fonts/Sanchez-Regular.ttf);
}

.sanchez{
    font-family: "Sanchez";
}

.form-container input,
.form-container textarea {
    width: 100%;
    font-family: "Sanchez";
    padding: 10px;
    margin: 10px 0;
    border: none !important;
    outline: none !important;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    transition: 0.3s;
}

.form-container input:focus{
    transform: scale(1.03);
    transition: 0.3s;
}

textarea{
    resize: none;
    transition: 0.4s;
}

.form-container button {
    background: #e91e63;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}

.form-container button:hover {
    background: #bf1754;
}


@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 615px) {
    main{
        flex-direction: column;
    }



    .form-container{
        margin-right: 20px;
        margin-top: 15px;
        height: fit-content;
    }

    .redes-container{
        margin: 10px 20px;
        height: fit-content;
    }

    .redes-container img{
        width: clamp(60px, 20vw, 150px);
        height: clamp(60px, 20vw, 150px);
    }

    .redes{
        flex-direction: row;
        justify-content: center;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}