{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/238f7a97da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/footernav.css' %}">
</head>
<body>
    <footer class="footer" aria-label="Footer">
        <div class="footer-section">
            <p>&copy; 2025 Colorvisión Diseño e Impresión.<br>Todos los Derechos Reservados.</p>
        </div>
        <div class="footer-section phonemail-container">
            <a class="contact-info" href="tel:+56984264438">
                <span class="inline-icon material-icons">call</span> +(56) 9 8426 4438
            </a>
            <a class="contact-info" href="mailto:contacto@colorvision.cl">
                <span class="inline-icon material-icons">email</span> contacto@colorvision.cl
            </a>
        </div>
        <div class="footer-section footer-redes">
            <a href="https://www.facebook.com/Impresoscolorvision" aria-label="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/colorvision_alhue/" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://wa.me/56984264438" aria-label="WhatsApp">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </footer>
</body>
</html>
