{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impresiones Digitales</title>
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footernav.css' %}">
</head>
<body>

    {% block nav %}
    {% include 'nav.html' %}
    {% endblock nav %} 
    
    <div class="blob2"></div>

    <div id="titulo-impresiones-container"></div>
    <h1 class="blippo white" id="impresiones-digitales">Impresiones Digitales</h1>
    
    <div class="border-wrap">
        <div class="border-m"></div>
    </div>

    <div class="productos-wrapper">
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/tarjetas/colorvision-tarjetas.jpg' %}" alt="Producto 1 Imagen1" class="pic">
                <img src="{% static 'img/prints/tarjetas/tarjeta-con-sobre.jpg' %}" alt="Producto 1 Imagen 2" class="pic">
                <img src="{% static 'img/prints/tarjetas/presentacion.jpg' %}" alt="Producto 1 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Tarjetas de Presentación</h3>
            <p class="productos-descripcion">Normales<br>
                Laminadas<br>
                Con laca
            </p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/flyers/10x15cm.jpg' %}" alt="Producto 2 Imagen 1" class="pic">
                <img src="{% static 'img/prints/flyers/flyer-1.jpg' %}" alt="Producto 2 Imagen 2" class="pic">
                <img src="{% static 'img/prints/flyers/disenos-personalizados.jpg' %}" alt="Producto 2 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Volantes/Flyer</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/tarjetas/cumpleanos.jpg' %}" alt="Producto 3 Imagen 1" class="pic">
                <img src="{% static 'img/prints/tarjetas/religiosas.jpg' %}" alt="Producto 3 Imagen 2" class="pic">
                <img src="{% static 'img/prints/tarjetas/tarjetas3.jpg' %}" alt="Producto 3 Imagen 2" class="pic">
            </div>
            <h3 class="productos-titulo">Invitaciones</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/flyers/DIPTICOS.jpg' %}" alt="Producto 1 Imagen 1" class="pic">
                <img src="{% static 'img/prints/flyers/DESPLEGABLE.jpg' %}" alt="Producto 1 Imagen 2" class="pic">
                <img src="{% static 'img/prints/flyers/POLIDIPTICO.jpg' %}" alt="Producto 1 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Dípticos Trípticos Polípticos Desplegables</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/talonarios/ENTRADAS.jpg' %}" alt="Producto 2 Imagen 1" class="pic">
                <img src="{% static 'img/prints/talonarios/TALONARIOS.jpg' %}" alt="Producto 2 Imagen 2" class="pic">
                <img src="{% static 'img/prints/talonarios/PREPICADOS.jpg' %}" alt="Producto 2 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Talonarios</h3>
            <p class="productos-descripcion">Recetarios<br>
                Checklist Autocopiativos<br>
                Foliados
            </p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/carpetas/carpeta-laminada.png' %}" alt="Producto 3 Imagen 1" class="pic">
                <img src="{% static 'img/prints/carpetas/carpeta-presentacion.jpg' %}" alt="Producto 3 Imagen 2" class="pic">
                <img src="{% static 'img/prints/carpetas/carpeta-con-bolsillo.jpg' %}" alt="Producto 3 Imagen 2" class="pic">
            </div>
            <h3 class="productos-titulo">Carpetas</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/cartas-menu/anillada-carta.jpg' %}" alt="Producto 1 Imagen 1" class="pic">
                <img src="{% static 'img/prints/cartas-menu/anillada-media-carta.jpg' %}" alt="Producto 1 Imagen 2" class="pic">
                <img src="{% static 'img/prints/cartas-menu/carta-acrilico.jpg' %}" alt="Producto 1 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Cartas Menú</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/libretas/anilladas.jpg' %}" alt="Producto 2 Imagen 1" class="pic">
                <img src="{% static 'img/prints/libretas/libreta.jpg' %}" alt="Producto 2 Imagen 2" class="pic">
                <img src="{% static 'img/prints/libretas/cuadernos-tapa-dura.jpg' %}" alt="Producto 2 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Libretas</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/Libretas/cuadernos-tapa-dura.jpg' %}" alt="Producto 3 Imagen 1" class="pic">
                <img src="{% static 'img/prints/libretas/tamanos-personalizados.jpg' %}" alt="Producto 3 Imagen 2" class="pic">
                <img src="{% static 'img/prints/libretas/anilladas.jpg' %}" alt="Producto 3 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Cuadernos</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/revistas/cancioneros.jpg' %}" alt="Producto 3 Imagen 1" class="pic">
                <img src="{% static 'img/prints/revistas/reglamentos-internos.jpg' %}" alt="Producto 3 Imagen 2" class="pic">
            </div>
            <h3 class="productos-titulo">Revistas</h3>
            <p class="productos-descripcion"></p>
        </div>
        <div class="productos-tarjeta card">
            <div class="productos-carrusel pic-ctn">
                <img src="{% static 'img/prints/packaging/caja-sandwich.jpg' %}" alt="Producto 3 Imagen 1" class="pic">
                <img src="{% static 'img/prints/packaging/bolsa.jpg' %}" alt="Producto 3 Imagen 2" class="pic">
                <img src="{% static 'img/prints/packaging/caja-vino.jpg' %}" alt="Producto 3 Imagen 3" class="pic">
            </div>
            <h3 class="productos-titulo">Envases</h3>
            <p class="productos-descripcion"></p>
        </div>
    </div>

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}

    <script src="{% static 'js/products.js' %}"></script>
</body>
</html>
